body {
    background-color: #111;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
    color: white;
}

#screen {
    border: 4px solid #333;
}

#screen canvas {
    display: block;
    max-width: calc(100vw - 16px);
    max-height: calc(100vh - 16px);
}